<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PcDrop- Dosya yükle</title>
    <!-- Link to CSS File -->
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>

    <div class="container">
        <h2>Welcome to PcDrop</h2>
        <a href="/shared_files">Paylaşılan dosyaları görüntüle</a>
        <p><strong>Bağlantı Adresi (Aynı Ağdaki Cihazlar için):</strong> <code>http://{{ local_ip }}:8000</code></p>
        <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="files" multiple>
            <input type="submit" value="Yükle">
        </form>

        <!-- Upload Status Bar -->
        <div id="progress-container">
            <div id="progress-bar"></div>
        </div>
        <p id="status"></p>
    </div>

    <script>
        const form = document.getElementById("uploadForm");
        const progressContainer = document.getElementById("progress-container");
        const progressBar = document.getElementById("progress-bar");
        const statusText = document.getElementById("status");

        form.onsubmit = async function (event) {
            event.preventDefault();

            const formData = new FormData(form);
            const request = new XMLHttpRequest();

            request.open("POST", "/upload", true);

            request.upload.onprogress = function (event) {
                if (event.lengthComputable) {
                    const percentage = (event.loaded / event.total) * 100;
                    progressBar.style.width = percentage + "%";
                    statusText.innerHTML = "Uploading... " + Math.round(percentage) + "%";
                }
            };

            request.onload = function () {
                if (request.status === 200) {
                    progressContainer.style.display = "none"
                    statusText.innerHTML = "Upload completed!";
                } else {
                    statusText.innerHTML = "Upload error!";
                }
            };

            progressContainer.style.display = "block"; // Show the progress bar
            request.send(formData);
        };
    </script>

</body>
</html>
